.grid {
  background-color: white;
  display: flex;
  padding: 0px 415px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.grid__pixel {
  background-color: lightgray;
  width: 5vh;
  height: 5vh;
  border: 1px solid white;
}

.is-active {
  background-color: black;
}