.grid {
  background-color: white;
  display: flex;
  padding: 0px 415px;
  align-content: center;
  justify-content: center;
  height: 50px;
}

.grid__pixel {
  background-color: lightgray;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid white;
}

.is-active {
  background-color: black;
}